<table class="profile", sumarry="Profile information">
  <tr>
    <td class="main"> 
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        
      </h1>
    </td>
    <td class="sidebar round">
      <strong> Name </strong> <%= @user.name %> <br/>
      <strong> URL </strong> <%= link_to user_path(@user), @user  %>
    </td>    
  </tr>
  
  
  <% if current_user == @user -%>
    <tr>
      <td class="round">
        <center>
          <strong> Add a homework </strong>
        </center>
        <%= render "shared/homework_form"%>
      </td>
    </tr>
    
    <tr>
      <td>
      </td>
    </tr>    
  <% end -%>

   
  <% unless @homeworks.empty? -%>
    <tr>
      <td class="homeworks round">
        <center>
          <strong> Homeworks </strong>
        </center>
        <%= render @homeworks %>
      </td>
    </tr>
  <% end -%>
  
</table>
