<header>
  
  <%= logo("logo.png", :alt => "Sample App", :class => "round") %>
  
  <nav class="round">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Sign in', signin_path %></li>
    </ul>
  </nav>

</header>
